<div ng-controller="AppCtrl">
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Name List</md-subheader>

            <table>
              <th>
                    <a> Name </a>
              </th>
              <th>
                    <a> Account Type </a>
              </th>
              <th>
                    <a> User Address </a>
              </th>
              <th>
                    <a> Account Balance </a>
              </th>
              <th>
                    <a> Profile Image </a>
              </th>
                    <tr ng-repeat="user in users">
                        <td>{{user.userName}}</td>
                        <td>{{user.accountType}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.balance}}</td>
                        <td><img ng-src="{{user.profilePics}}" alt="Description" height="50" width="50"/></td>
                    </tr>
            </table>
        </md-list>
    </md-content>
</div>
